/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.main {
  text-align: center;
}

.button {
  border: none;
  background: yellow;
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
  margin-bottom: 30px;
}

.button:hover {
  box-shadow: 3px 3px 0 #eeee00;
}

.button:active {
  box-shadow: 1px 1px 0 #eeee00;
}


.button[disabled] {
 background: #ddd; 
}

.button[disabled]:hover {
  box-shadow: none;
}

.canvas {
  border: 5px solid #ddd;
  background: white;
  margin: 0 auto;
  min-height: 400px;
  position: relative;
  display: flex;
  max-width: 750px;
}

.band {
  min-height: 100%;
  width: 25%;
}

.palletteCopy {
  font-size: .8rem;
  display: none;
}