body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.main {
  text-align: center;
}

.button {
  border: none;
  background: yellow;
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
  cursor: pointer;
}

.buttonSmall {
  padding: .5rem;
  font-size: .8rem;  
  background: #EC6C41;
  color: white;
}

.button:hover {
  box-shadow: 3px 3px 0 #eeee00;
}

.button:active {
  box-shadow: 1px 1px 0 #eeee00;
}

.button[disabled] {
 background: #ddd; 
}

.button[disabled]:hover {
  box-shadow: none;
}

.canvas {
  border: 20px solid #eee;
  background: white;
  margin: 20px auto;
  min-height: 400px;
  display: flex;
  max-width: 750px;
  box-shadow: 1px 1px 0 #ccc;
}

.band {
  transition: all .25s ease-in;
  min-height: 100%;
  width: 25%;
}

.paletteCopy {
  color: #999;
  font-size: .8rem;
  display: none;
}

.paletteCopy a {
  color: #999;
}