/* CSS files add styling rules to your content */

body {
  font-family: "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.main {
  text-align: center;
}

.button {
  border: none;
  background: yellow;
  padding: 1rem;
  font-size: 1.2rem;
  color: black;
}